<div
  class="map-tile"
  [ngClass]="{
    'blockade-north': showBorders && !found && tile.blockades?.includes(Blockade.NORTH),
    'blockade-east': showBorders && !found && tile.blockades?.includes(Blockade.EAST),
    'blockade-south': showBorders && !found && tile.blockades?.includes(Blockade.SOUTH),
    'blockade-west': showBorders && !found && tile.blockades?.includes(Blockade.WEST),
    'grayout': grayOut,
    'found': found,
    'legend': isLegendMode,
  }"
  [ngStyle]="{
    'background-color': !isLegendMode ? getTileColor(tile) : null,
    'background-image': (showImage || isLegendMode) && !map.noImages ? 'url(' + getTileImage(tile, map) + ')' : null,
  }"
  (click)="onClick()"
  >
  <span *ngIf="showPosition && !isLegendMode" class="map-tile--placement">
    {{getTilePlacementString(tile)}}
  </span>
</div>
