:host {
  margin: 16px;
  padding-right: 16px;
  border-right: 1px solid white;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  li {
    cursor: pointer;
    list-style: none;
    border: 1px solid white;
    padding: 8px;

    &.active {
      border-color: dodgerblue;
      color: dodgerblue;
    }
  }
}
