:host {
  border-right: 0px solid var(--text-color);
  overflow-y: auto;
  width: 18rem;
  padding: .5rem;
  transform-origin: left;
  position: absolute;
  top: 0;
  left: -19rem;
  bottom: 0;
  z-index: 100;
  background-color: var(--bg-color);
  transition: left .3s ease;

  &.extended {
    left: 0;
    border-width: 1px;
  }

  nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
