<nav
  [ngClass]="{
    'extended': extended
  }"
>
  <ul (click)="close()">
    <li *ngFor="let map of Maps"
      [routerLink]="'map/' + map.path"
      routerLinkActive="active"
      [class.incomplete]="!map.tiles.length"
      [ngClass]="map.difficulty.toLowerCase()"
    >
      <div class="text">
        <span class="name">{{getDisplayName(map)}}</span>
        <span class="difficulty">{{map.difficulty}}</span>
      </div>
      <img
        *ngIf="map.navPortrait"
        class="portrait"
        [src]="map.navPortrait"
      />
    </li>
  </ul>
</nav>
