<hwh-map-title [map]="map" />
<ng-container *ngIf="!!map && !!map.tiles.length; else die">
  <div class="map-button-bar">
    <div class="left">
      <hwh-search-bar
        (search)="setSearch($event)"
      />
      <hwh-toggle-button
        [label]="{
          activeLabel: 'Hide Grid Positions',
          inactiveLabel: 'Show Grid Positions'
        }"
        [(active)]="showPlacementHints"
      />
      <hwh-toggle-button
        [label]="{
          activeLabel: 'Hide Blockades',
          inactiveLabel: 'Show Blockades'
        }"
        [(active)]="showBlockadeHints"
      />
      <hwh-toggle-button
        *ngIf="map.hasImages"
        [label]="{
          activeLabel: 'Hide Images',
          inactiveLabel: 'Show Images'
        }"
        [(active)]="showImages"
      />
    </div>
    <div class="right">
      <button (click)="shiftMap(-1)" class="button-like"><<</button>
      <button (click)="shiftMap(1)" class="button-like">>></button>
    </div>
  </div>
  <div class="map"
    [ngStyle]="{
      'grid-template-columns': 'repeat(' + map.size.width + ', 1fr)',
      'grid-template-rows': 'repeat(' + map.size.height + ', 1fr)'
    }"
  >
    <ng-container *ngFor="let tile of getSortedTiles(map)">
      <hwh-map-tile
        *ngIf="isMapTile(tile); else emptyTile"
        [map]="map"
        [tile]="$any(tile)"
        [grayOut]="grayOut($any(tile))"
        [showBorders]="showBlockadeHints"
        [showImage]="showImages && map.hasImages"
        [showPosition]="showPlacementHints"
        (selected)="setTileDetail($event)"
      />
    </ng-container>
    <ng-template #emptyTile>
      <div class="emptyMapTile"></div>
    </ng-template>
  </div>
  <hwh-tile-viewer
    [referenceTo]="elementRef.nativeElement"
  />
</ng-container>
<ng-template #die>
  No map data yet!
</ng-template>
