<hwh-map-title [map]="map" />
<ng-container *ngIf="!!map && !!map.tiles.length; else die">
  <hwh-search-bar
    (search)="setSearch($event)"
  />
  <div class="map"
    [ngStyle]="{
      'grid-template-columns': 'repeat(' + map.size.width + ', 1fr)',
      'grid-template-rows': 'repeat(' + map.size.height + ', 1fr)'
    }"
  >
    <hwh-map-tile
      *ngFor="let tile of getSortedTiles(map)"
      [map]="map"
      [tile]="tile"
      [grayOut]="grayOut(tile)"
      [showBorders]="showBlockadeHints"
      [showImage]="showImages && map.hasImages"
      [showPosition]="showPlacementHints"
      (selected)="setTileDetail($event)"
    />
  </div>
  <div class="map-button-bar" style="margin-top: 16px">
    <hwh-toggle-button
      [label]="{
        activeLabel: 'Hide Grid Positions',
        inactiveLabel: 'Show Grid Positions'
      }"
      [(active)]="showPlacementHints"
    />
    <hwh-toggle-button
      [label]="{
        activeLabel: 'Hide Blockades',
        inactiveLabel: 'Show Blockades'
      }"
      [(active)]="showBlockadeHints"
    />
    <hwh-toggle-button
      *ngIf="map.hasImages"
      [label]="{
        activeLabel: 'Hide Images',
        inactiveLabel: 'Show Images'
      }"
      [(active)]="showImages"
    />
  </div>
  <hwh-tile-viewer
    [referenceTo]="elementRef.nativeElement"
  />
</ng-container>
<ng-template #die>
  No map data yet!
</ng-template>
