.map {
  display: grid;
  margin: 4px;
  margin-top: 16px;

  &-button-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
}

.map-button-bar {
  margin-top: 16px;

  .right {
    margin-left: auto;
    display: flex;
    gap: .5rem;
  }
}

.emptyMapTile {
  aspect-ratio: 16 / 11;
  display: grid;
  place-items: center;
  user-select: none;
  box-sizing: border-box;
}
