:host {
  max-width: 100%;
  overflow: hidden;
}

.map {
  display: grid;
  margin: 4px;
  margin-top: 16px;
  max-width: 100%;
}

.map-container {
  overflow: auto;
}

.map-button-bar {
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap-reverse;
  }

  .right {
    //margin-left: auto;
    display: flex;
    gap: .5rem;
  }
}

.emptyMapTile {
  aspect-ratio: 16 / 11;
  display: grid;
  place-items: center;
  user-select: none;
  box-sizing: border-box;

  &.legend {
    aspect-ratio: 55 / 47;
  }
}

@media (max-width: 800px) {
  .map {
    overflow: auto;
  }
}
