.map {
  display: grid;
  margin: 4px;
  margin-top: 16px;

  &-tile {
    aspect-ratio: 16 / 11;
    display: grid;
    place-items: center;
    user-select: none;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    transition: transform .2s ease-in-out, filter .5s ease-in-out;

    &.grayout {
      filter: grayscale(100%);
    }

    &:hover {
      transform: scale(1.3);
      cursor: pointer;
      border: 2px solid white;
      z-index: 2;

      &:after {
        display: none;
      }
    }

    &--placement {
      padding: 4px 8px 4px 8px;
      background-color: rgba(100, 100, 100, 0.4);
    }

    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      --blockade-north: none;
      --blockade-east: none;
      --blockade-south: none;
      --blockade-west: none;
      background-image: var(--blockade-north), var(--blockade-east), var(--blockade-south), var(--blockade-west);
      background-size: cover;
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      filter: none!important;
    }

    &.blockade {
      &-north:after {
        --blockade-north: url("../../../assets/images/misc/Border-top.png");
      }

      &-east:after {
        --blockade-east: url("../../../assets/images/misc/Border-right.png");
      }

      &-south:after {
        --blockade-south: url("../../../assets/images/misc/Border-bottom.png");
      }

      &-west:after {
        --blockade-west: url("../../../assets/images/misc/Border-left.png");
      }
    }
  }

  &-button-bar {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
