@if (mapDefinition.value(); as map) {
  <div class="map-container">
    <hwh-map-viewer
      [map]="map"
      [searchActive]="search.active()"
      [matchingTiles]="search.matches()"
      [focusedTileId]="focusedTileId()"
      (tileSelected)="openTileDetails($event)"
      (adjacentTileSelected)="openTileDetails($event, true)"
      (interactionStarted)="onMapInteraction()"
    />
    <router-outlet (activate)="connectTileDetails($event)" />
  </div>
  <hwh-map-toolbar [map]="map" />
} @else {
  no map provided
}
