@use './_tile-details.shared.scss' as details;

:host {
  --detail-tile-width: 512px;
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  padding: 3rem;

  display: grid;
  grid-template-columns:
    minmax(240px, 1fr)
    var(--detail-tile-width)
    minmax(240px, 1fr);
  gap: clamp(24px, 4vw, 80px);
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.center {
  display: grid;
  place-items: center;
}


.details-card {
  @include details.tile-details-card;
}
