:host {
  display: block;
  position: relative;

  .tile-image {
    display: block;
    width: 100%;
    height: 100%;
    image-rendering: auto;
    user-select: none;
    -webkit-user-drag: none;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
  }

  &.show-difficulty .tile-image {
    opacity: 0.65;
  }

  &.pixelated .tile-image {
    image-rendering: pixelated;
  }

  .blockade {
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-in-out;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
  }

  &.show-blockades .blockade {
    opacity: 1;
  }

  &.pixelated {
    --border-thickness: 60%;

    .blockade--north {
      background-size: 100% var(--border-thickness);
      background-repeat: no-repeat;
      background-position: top;
    }

    .blockade--south {
      background-size: 100% var(--border-thickness);
      background-repeat: no-repeat;
      background-position: bottom;
    }

    .blockade--east {
      background-size: var(--border-thickness) 100%;
      background-repeat: no-repeat;
      background-position: right;
    }

    .blockade--west {
      background-size: var(--border-thickness) 100%;
      background-repeat: no-repeat;
      background-position: left;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  :host .tile-image,
  :host .blockade {
    transition: none;
  }
}
