:host {
  display: block;

  img {
    display: block;
    width: 100%;
    height: 100%;
    image-rendering: auto;
    user-select: none;
    -webkit-user-drag: none;
  }

  &.pixelated img {
    image-rendering: pixelated;
  }

  &.difficulty--colorless {
    background-color: white;
  }

  &.difficulty--green {
    background-color: green;
  }

  &.difficulty--yellow {
    background-color: yellow;
  }

  &.difficulty--orange {
    background-color: orange;
  }

  &.difficulty--blue {
    background-color: blue;
  }

  &.difficulty--purple {
    background-color: purple;
  }

  &.difficulty--red {
    background-color: red;
  }
}
