<ng-container *ngIf="!!map; else die">
  <h1>{{map.name}}</h1>
  <hwh-search-bar
    (search)="setSearch($event)"
  />
  <div class="map"
    [ngStyle]="{
      'grid-template-columns': 'repeat(' + map.size.width + ', 1fr)',
      'grid-template-rows': 'repeat(' + map.size.height + ', 1fr)'
    }"
  >
    <div *ngFor="let tile of getSortedTiles(map)"
      class="map-tile"
      [ngClass]="{
        'blockade-north': showBlockadeHints && tile.blockades?.includes(Blockade.NORTH),
        'blockade-east': showBlockadeHints && tile.blockades?.includes(Blockade.EAST),
        'blockade-south': showBlockadeHints && tile.blockades?.includes(Blockade.SOUTH),
        'blockade-west': showBlockadeHints && tile.blockades?.includes(Blockade.WEST),
      }"
      [ngStyle]="{
        'background-color': getTileColor(tile),
        'background-image': map.hasImages && showImages ? 'url(' + getTileImagePath(tile, map) + ')' : null,
        'filter': grayOut(tile) ? 'grayscale(100%)' : null
      }"
      (click)="setTileDetail(tile)"
      >
      <span *ngIf="showPlacementHints" class="map-tile--placement">
        {{getTilePlacementString(tile)}}
      </span>
    </div>
  </div>
  <div class="map-button-bar" style="margin-top: 16px">
    <hwh-toggle-button
      [label]="{
        activeLabel: 'Hide Grid Positions',
        inactiveLabel: 'Show Grid Positions'
      }"
      [(active)]="showPlacementHints"
    />
    <hwh-toggle-button
      [label]="{
        activeLabel: 'Hide Blockades',
        inactiveLabel: 'Show Blockades'
      }"
      [(active)]="showBlockadeHints"
    />
    <hwh-toggle-button
      *ngIf="map.hasImages"
      [label]="{
        activeLabel: 'Hide Images',
        inactiveLabel: 'Show Images'
      }"
      [(active)]="showImages"
    />
  </div>
  <hwh-tile-viewer
    [referenceTo]="elementRef.nativeElement"
  />
</ng-container>
<ng-template #die>
  No map here!
</ng-template>
