:host {
  display: block;
  margin: 2rem auto;
  width: 100%;
  max-width: 70rem;
}

.hwh-splitview {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
}

.hwh-enemy-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  gap: 5px;
}

.hwh-enemy-item {
  --size: 4.5rem;
  width: var(--size);
  height: var(--size);
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  transition: transform 0.3s ease-in-out;

  &.selected {
    border: 3px solid dodgerblue;
    transform: scale(1.15)
  }
}

.hwh-material-list {
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  gap: .5rem;

  &--header {
    text-align: center;
  }
}

.hwh-material-display {
  border: 1px solid white;
  border-radius: 10px;
}

.hwh-material-display > h1 {
  text-align: center;
}

.hwh-material-display-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  & > * {
    text-align: center;
  }
}

.hwh-material-locations {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.hwh-material--recommended-hint {
  margin-bottom: 1rem;
  text-align: center;

  & > span {
    color: dodgerblue;
  }
}
