<h1>Credits</h1>
<h2>Disclaimer</h2>
<p>The Legend of Zelda is owned by Nintendo</p>
<p>Hyrule Warriors was made by Koei-Tecmo and Omega Force</p>
<br />

<h2>Sources</h2>
<h3>Images and Tiles</h3>
<p>Sprites are selfmade, modelled after ingame resources and other creators:</p>
<ul>
  <li><a href="https://gamefaqs.gamespot.com/community/Metroid_Lover">Metroid_Lover's Map Guides</a></li>
  <li><a href="https://gamefaqs.gamespot.com/community/Metroid_Lover">Random Talking Bush's Resources on Spriter's Resource</a></li>
</ul>

<h3>Information and data</h3>
<p>Most of the data is from SBAllen's Unlockable Guide:</p>
<ul>
  <li><a href="https://gamefaqs.gamespot.com/3ds/167257-hyrule-warriors-legends/faqs/73095/introduction">Unlockable Guide by SBAllen</a></li>
  <li><a href="https://github.com/MetroWind/hyrule-warriors-maps/blob/master/maps.xml">Extracted data by MetroWind</a></li>
</ul>
