<nav class="noselect">
  <ul class="left">
    <li (click)="selected.emit('home')" class="button-like">Home</li>
    <li (click)="selected.emit('maps')" class="button-like">Maps</li>
    <li (click)="selected.emit('materials')" class="button-like">Materials</li>
  </ul>
  <div class="title">Hyrule Warriors Helper</div>
  <ul class="right">
    <li (click)="selected.emit('github')" class="button-like">GitHub</li>
    <li (click)="selected.emit('credits')" class="button-like">Credits</li>
  </ul>
</nav>
