:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  width: 70vw;
  padding: .5rem;
  border-bottom: 1px solid var(--text-color);

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 0.5rem;

    li {
      border: 1px solid var(--text-color);
      border-radius: 0.2rem;
      padding: .2rem .4rem;
      cursor: pointer;
    }
  }
}

.title {
  display: grid;
  place-content: center;
  font-size: x-large;
}

@media(max-width: 900px) {
  .title {
    display: none;
  }
}
