:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
  max-width: 70rem;
  padding: .5rem;
  border-bottom: 1px solid var(--text-color);

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
  }
}

.title {
  display: grid;
  place-content: center;
  font-size: x-large;
}

@media(max-width: 900px) {
  .title {
    display: none;
  }
}

@media(max-width: 400px) {
  nav {
    padding-left: 0;
    padding-right: 0;
  }
}
