<section>
  <h2 class="tile-details-header">
    <span>Mission Rewards</span>
    @if (!rewards()) {
      <span>None</span>
    }
  </h2>
  @if (rewards(); as missionRewards) {
    @if (missionRewards.aRank; as aRankReward) {
      <hwh-reward [reward]="aRankReward" type="arank" />
    }
    @if (missionRewards.clear; as clearRewards) {
      @for (reward of clearRewards; track $index) {
        <hwh-reward [reward]="reward" type="clear" />
      }
    }
  }
</section>
<section>
  <h2 class="tile-details-header">
    <span>Treasure</span>
    @if (!treasure()?.length) {
      <span>None</span>
    }
  </h2>
  @for (treasure of treasure(); track $index) {
    <hwh-treasure [treasure]="treasure" />
  }
</section>
<section>
  <h2 class="tile-details-header">
    <span>Gold Skulltulas</span>
    @if (!skulltulas()?.length) {
      <span>None</span>
    }
  </h2>
  @for (skulltulaDescription of skulltulas(); track $index) {
    <div class="skulltula">
      <div>#{{ $index + 1 }}</div>
      <div>{{ skulltulaDescription }}</div>
    </div>
  }
</section>
