<section>
  <h2 class="tile-details-header">
    A-Rank Requirements
  </h2>
  <div class="requirements-table">
    <div>
      <span>KILLS</span>
      <span>
        @if (tile().requirements.kills !== undefined) {
          {{ tile().requirements.kills | number }}
        } @else {
          -
        }
      </span>
    </div>
    <div>
      <span>DAMAGE</span>
      <span>
        @if (tile().requirements.damage !== undefined) {
          < {{ tile().requirements.damage }}%
        } @else {
          -
        }
      </span>
    </div>
    <div>
      <span>TIME</span>
      <span>@if (tile().requirements.minutes !== undefined) {
        {{ tile().requirements.minutes }} min
      } @else {
        ∞
      }</span>
    </div>
  </div>
</section>
@if (tile().additionalRule) {
  <section>
    <h2 class="tile-details-header">
      <span>Special Rule</span>
    </h2>
    <div class="special-rule">
      {{ tile().additionalRule }}
    </div>
  </section>
}
@if (tile().requirements.characterRequirement; as requiredCharacter) {
  <section>
    <h2 class="tile-details-header">
      <span>Required Character</span>
    </h2>
    <div class="required-character">
      {{ getCharacter(requiredCharacter.characterId).name }}
    </div>
  </section>
}
@if (tile().quizAnswers?.length) {
  <section>
    <h2 class="tile-details-header">
      <span>Quiz Order</span>
    </h2>
    <ol class="quiz-answers">
      @for (answer of tile().quizAnswers; track $index) {
        <li>{{ getQuizAnswerName(answer) }}</li>
      }
    </ol>
  </section>
}
<section>
  <h2 class="tile-details-header">
    <span>Item Usage</span>
    @if (!tile().search?.length && !tile().fullTileSearch) {
      <span>None</span>
    }
  </h2>
  @if (tile().search?.length || tile().fullTileSearch) {
    @if (tile().fullTileSearch; as fullTileSearch) {
      <div class="item">
        @if (isItemCardSearch(fullTileSearch)) {
          @let itemCard = getItemCard(fullTileSearch.itemCardId);
          <img [src]="getItemCardSrc(itemCard.id)" alt="" />
          <div class="full-tile-search">
            <span>{{ itemCard.name }}</span>
            <span>{{ fullTileSearch.description }}</span>
          </div>
        } @else {
          <div class="full-tile-search">
            <span>{{ fullTileSearch.itemCardGroupId }}</span>
            <span>{{ fullTileSearch.description }}</span>
          </div>
        }
      </div>
    }
    <div class="items">
      @for (item of tile().search; track item.itemCardId) {
        @let itemCard = getItemCard(item.itemCardId);
        <div class="item">
          <img [src]="getItemCardSrc(itemCard.id)" alt="" />
          <span>{{ itemCard.name }}</span>
        </div>
      }
    </div>
  }
</section>
