/* You can add global styles to this file, and also import other style files */

html {
  --bg-color: #06081B;
  --text-color: #e7e8f9;
  background: linear-gradient(var(--bg-color), #090b28);
  color: var(--text-color);
  font-size: 20px;
  font-family: Roboto, sans-serif;
  scrollbar-color: var(--text-color) transparent;
  min-height: 100vh;
}

body {
  margin: 0;
}

.noselect {
  user-select: none;
}

.button-like {
  border: 1px solid var(--text-color);
  border-radius: 0.2rem;
  padding: .2rem .4rem;
  cursor: pointer;
  background: none;
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

// Overwrite hwh-map-button fade out border in home-view
.map-nav-container {
  hwh-map-nav-button {
    li {
      z-index: 0!important;
    }
  }
}

a {
  color: dodgerblue;

  &:visited {
    color: dodgerblue;
  }
}

.tag {
  --color: var(--text-color);
  color: var(--color);
  border: 1px solid var(--color);
  border-radius: 0.2rem;
  //background: var(--color);
  padding: 0.2rem 0.4rem;
}
