/* You can add global styles to this file, and also import other style files */

html {
  --bg-color: #06081B;
  --text-color: #e7e8f9;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-color: var(--text-color) transparent;
}

body {
  margin: 0;
}

.noselect {
  user-select: none;
}

.button-like {
  border: 1px solid var(--text-color);
  border-radius: 0.2rem;
  padding: .2rem .4rem;
  cursor: pointer;
  background: none;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

// Overwrite hwh-map-button fade out border in home-view
.map-nav-container {
  hwh-map-nav-button {
    li {
      z-index: 0!important;
    }
  }
}
