/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}


.difficulty--colorless {
  background-color: white;
}

.difficulty--green {
  background-color: green;
}

.difficulty--yellow {
  background-color: yellow;
}

.difficulty--orange {
  background-color: orange;
}

.difficulty--blue {
  background-color: blue;
}

.difficulty--purple {
  background-color: purple;
}

.difficulty--red {
  background-color: red;
}
