<header>
  <a
    class="brand"
    routerLink="/"
    aria-label="Hyrule Warriors Helper - Home"
  >
    <span class="brand-mark" aria-hidden="true"></span>
    <span>Hyrule Warriors Helper</span>
  </a>
  <nav class="main-nav" aria-label="Main Navigation">
    <a routerLink="/maps" routerLinkActive="active">
      Maps
    </a>
    <a routerLink="/materials" routerLinkActive="active">
      Materials
    </a>
    <a routerLink="/characters" routerLinkActive="active">
      Characters
    </a>
    <a routerLink="/my-fairy" routerLinkActive="active">
      My Fairy
    </a>
  </nav>

  <div class="header-actions">
    <!-- global actions? -->
  </div>
</header>
