header {
  position: fixed;
  max-width: 1400px;
  margin: 0 auto 1rem auto;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--surface-base);
  border: 1px solid var(--surface-border);
  border-radius: 0.5rem;
  z-index: var(--z-header);

  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  box-shadow: var(--shadow);
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
  color: var(--white);
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 11px;
  font-family: "JetBrains Mono", monospace;
  padding: 0.25rem;
  background-color: var(--surface-card);
  border: 1px solid var(--surface-border);
  border-radius: 0.25rem;

  > a {
    letter-spacing: 0.025em;
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--surface-card);
    border-radius: 0.25rem;
    text-decoration: none;
    color: var(--accent-subtle);
    white-space: nowrap;

    &.active {
      color: var(--accent-gold);
      font-weight: 600;
      background-color: var(--surface-subtle);
      border: 1px solid var(--surface-border);
    }
  }
}
