<dialog #dialog class="tile-dialog" (click)="close()" (keydown.escape)="close()" (keydown)="onKeyDown($event)">
  <div *ngIf="!!openTile && !!map" class="tile-dialog-content" (click)="$event.stopPropagation()">
    <div class="tile-dialog--header">
      <span *ngIf="!this.isLegendMode" class="tile-dialog--tilenumber noselect">{{getTilePlacementString(openTile)}}</span>
      <span #header tabindex="-1" class="tile-dialog--challenge">{{openTile.challenge}}</span>
      <button (click)="close()">✕</button>
    </div>
    <div *ngIf="openTile.additionalRule"
      class="tile-dialog--subheader">
      {{openTile.additionalRule}}
    </div>
    <div *ngIf="!this.isLegendMode" class="image-wrapper">
      <div class="image-container">
        <span *ngIf="map.noImages" class="tile-dialog--no-img">No Image</span>
        <ng-container *ngIf="!map.noImages">
          <img class="tile-dialog--img" [src]="getTileImagePath(openTile, map)" (click)="animateSearchItem = !animateSearchItem" />
          <img *ngFor="let search of openTile.search"
            class="tile-dialog--item-img"
            [src]="search.item.iconUrl"
            [ngStyle]="{
              '--tile-top': search.target.row,
              '--tile-left': search.target.col,
              'animation-duration': animateSearchItem ? '3s' : '0s'
            }"
            (click)="animateSearchItem = !animateSearchItem"
          />
          <button *ngIf="canMoveUp" class="nav-button up" (click)="navigateKey('ArrowUp')" title="Move up (↑)">↑</button>
          <button *ngIf="canMoveDown" class="nav-button down" (click)="navigateKey('ArrowDown')" title="Move down (↓)">↓</button>
          <button *ngIf="canMoveLeft" class="nav-button left" (click)="navigateKey('ArrowLeft')" title="Move left (←)">←</button>
          <button *ngIf="canMoveRight" class="nav-button right" (click)="navigateKey('ArrowRight')" title="Move right (→)">→</button>
        </ng-container>
      </div>
    </div>

    <div *ngIf="!this.isLegendMode" class="tile-dialog--footer">
      <div *ngIf="hasSearchDescriptions()" class="tile-dialog--search" [ngClass]="{'skulltula-display': skulltulaView}">
        <img src="assets/images/items/Compass.png"/>
        <div>
          <span *ngIf="openTile.fullTileSearch">
            {{openTile.fullTileSearch.description}}
          </span>
          <span *ngFor="let search of openTile.search">{{search.description}}</span>
          <span *ngIf="openTile.quizAnswers?.length > 0">
            Quiz Order:
            <ng-container *ngFor="let answer of openTile.quizAnswers; let i = index">
              {{answer}}{{i < openTile.quizAnswers!.length - 1 ? ', ' : ''}}
            </ng-container>
          </span>
        </div>
        <img *ngIf="openTile.fullTileSearch"
          class="tile-dialog--search--fulltile-img"
          [src]="openTile.fullTileSearch.item.iconUrl"
        />
      </div>
      <div class="tile-dialog--requirements">
        <div class="labeled-image">
          <img src="assets/images/misc/A-rank.png" />
          <label>A-Rank Requirements:</label>
        </div>
        <ul>
          <li *ngIf="openTile.requirements.kills">Kills: {{openTile.requirements.kills}}</li>
          <li *ngIf="openTile.requirements.minutes">Time: {{openTile.requirements.minutes}} Minutes</li>
          <li *ngIf="openTile.requirements.damage">Damage: {{openTile.requirements.damage}}%</li>
        </ul>
      </div>
      <div class="tile-dialog--rewards">
        <div class="labeled-image">
          <img src="assets/images/misc/Golden-food.png" />
          <label>Rewards:</label>
        </div>
        <ul>
          <li *ngIf="openTile.rewards?.arank">A-Rank: {{openTile.rewards?.arank}}</li>
          <li *ngIf="openTile.rewards?.clear">
            Clear: {{openTile.rewards?.clear?.length == 1 ? openTile.rewards?.clear?.[0] : ''}}
            <ul *ngIf="(openTile.rewards?.clear?.length ?? 0) > 1">
              <li *ngFor="let item of openTile.rewards?.clear">{{item}}</li>
            </ul>
          </li>
          <li *ngIf="!openTile.rewards?.arank && !openTile.rewards?.clear">None</li>
        </ul>
      </div>
      <div *ngIf="openTile.rewards?.treasure || !!openTile.rewards?.skulltulas?.length" class="tile-dialog--treasure">
        <div class="labeled-image">
          <img src="assets/images/misc/Golden-skulltula.png" />
          <label>{{skulltulaView ? 'Gold Skulltulas:' : 'Treasure:'}}</label>
          <hwh-toggle-button
            *ngIf="openTile.rewards?.skulltulas?.length"
            class="skulltula-button"
            [label]="{inactiveLabel: 'Skulltulas', activeLabel: 'Treasures'}"
            [(active)]="skulltulaView"
            />
        </div>
        <ul *ngIf="!skulltulaView">
          <li *ngFor="let item of openTile.rewards?.treasure">{{item}}</li>
          <li *ngIf="openTile.rewards?.skulltulas?.length">Gold Skulltula x{{openTile.rewards?.skulltulas?.length}}</li>
        </ul>
        <ol *ngIf="skulltulaView">
          <li *ngFor="let item of openTile.rewards?.skulltulas">{{item}}</li>
        </ol>
      </div>
    </div>
    <div *ngIf="this.isLegendMode" class="tile-dialog--legend-mode-container">
      <div class="guide">
        {{openTile.guide}}
      </div>
      <div class="heartpieces">
        <div class="labeled-image">
          <img src="assets/images/misc/Heartpiece.png" />
          <label>Heart-Pieces and Containers:</label>
        </div>
        <div class="list">
          <span *ngFor="let piece of openTile.heartpieces">
            {{piece}}
          </span>
        </div>
      </div>
      <div class="skulltulas">
        <div class="labeled-image">
          <img src="assets/images/misc/Golden-skulltula.png" />
          <label>Gold Skulltulas:</label>
        </div>
        <div class="list">
          <span *ngFor="let skulltula of openTile.skulltulas">
            {{skulltula}}
          </span>
        </div>
      </div>
      <div *ngIf="openTile.weapons && openTile.weapons.length > 0" class="weapons">
        <div class="labeled-image">
          <img src="assets/images/misc/Sword.png" />
          <label>Weapons:</label>
        </div>
        <div class="list">
          <span *ngFor="let weapon of openTile.weapons">
            {{weapon}}
          </span>
        </div>
      </div>
    </div>
  </div>
</dialog>
